{% extends 'Integra/base.html' %}
{% load widget_tweaks%}

{% load static %}

{% block content %}
<div class="container">
<div class="row lg-0">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Inserir Cadastro</h5>
            <a href="#" class="btn btn-primary">Lista</a> 
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Lista Cadastros</h5>
            <a href="#" class="btn btn-primary">Lista</a>
        </div>
    </div>
</div>
</div>
{% endblock %}